<template>
    <div class="home">
        <div class="feature-card">
        <router-link to="/movie/tt0993846">
            <img src="https://m.media-amazon.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg" alt="Naruto Poster" class="featured-img" />
            <div class="detail">
            <h3>The Wolf of Wall Street</h3>
            <p>Jordan Belfort is a Long Island penny stockbroker who served 22 months in prison for defrauding investors in a massive 1990s securities scam that involved widespread corruption on Wall Street and in the corporate banking world, including shoe designer Steve Madden.</p>
            </div>
        </router-link>
        </div>
		<div class="search-box">
			<form @submit.prevent="SearchMovies()">
			<input type="text" placeholder="What are you looking for?" v-model="search" />
			<input type="submit" value="Search" />
			</form>
		</div>
    <div class="movies-list">
        <div class="movie" v-for="movie in movies" :key="movie.imdbID">
            <router-link :to="'/movie/' + movie.imdbID" class="movie-link">
            <div class="product-image">
                <img :src="movie.Poster" alt="Movie Poster" />
                <div class="type">{{ movie.Type }}</div>
            </div>
            <div class="detail">
                <p class="year">{{ movie.Year }}</p>
                <h3>{{ movie.Title }}</h3>
            </div>
            </router-link>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'MovieList',

    data(){
        return{
            search: '',
            movies: [],
        }
    },

    methods:{
         SearchMovies() {
            axios.get(`http://www.omdbapi.com/?i=tt3896198&apikey=8c5f44a4&s=${this.search}`).then(response => {
                console.log(response);
                this.movies = response.data.Search
            })
        }
    }
}
</script>

<style scoped>
.home{
	font-family: 'Fira Sans', sans-serif;
}
.home .feature-card {
	 position: relative;
}
 .home .feature-card .featured-img {
	 display: block;
	 margin: auto;
	 width: 30%;
	 height: 275px;
	 position: relative;
	 z-index: 0;
}
 .home .feature-card .detail {
	 position: absolute;
	 margin-bottom: -70px;
	 margin-left: 70px;
	 margin-right: 70px;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: rgba(0, 0, 0, 0.6);
	 padding: 15px;
	 z-index: 1;
}
 .home .feature-card .detail h3 {
	 color: #fff;
	 margin-bottom: 16px;
}
 .home .feature-card .detail p {
	 color: #fff;
}
 .search-box {
	 display: flex;
	 margin-top: 70px;
	 /* flex-direction: column; */
	 justify-content: center;
	 align-items: center;
	 padding: 30px;
}
.search-box input {
	 display: block;
	 appearance: none;
	 border: none;
	 outline: none;
}
 .search-box input[type="text"] {
	 width: 100%;
	 color: #fff;
	 background-color: #496583;
	 font-size: 20px;
	 padding: 10px 16px;
	 border-radius: 8px;
	 margin-bottom: 15px;
	 transition: 0.4s;
}
 .search-box input[type="text"]::placeholder {
	 color: #f3f3f3;
}
 .search-box input[type="text"]:focus {
	 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
 .search-box input[type="submit"] {
	 width: 50%;
	 height:40px;
	 max-width: 100px;
	 cursor: pointer;
	 background-color: #42b883;
	 padding: 10px;
	 border-radius: 8px;
	 color: #fff;
	 font-size: 15px;
	 text-transform: uppercase;
	 transition: 0.4s;
}
 .search-box input [type="text"]:active {
	 background-color: #3b8070;
}

 .movies-list {
	 display: flex;
	 flex-wrap: wrap;
	 margin: 0px 15px 0px 15px;
} 

 .movie-link {
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 padding-right: 25px;
	 padding-bottom: 20px;
}

.type {
	 position: absolute;
	 padding: 8px 16px;
	 background-color: #42b883;
	 color: #fff;
	 bottom: 16px;
	 left: 0px;
	 text-transform: capitalize;
}

 .detail {
	 background-color: #496583;
	 padding: 10px 8px;
	 /* flex: 1 1 100%; */
	 border-radius: 0px 0px 8px 8px;
}
 .year {
	 color: #aaa;
	 font-size: 14px;
}
 .detail h3 {
	 color: #fff;
	 font-weight: 600;
	 font-size: 18px;
 }
 .product-image {
	 position: relative;
	 display: block;
}
.product-image img {
	 display: cover;
	 /* width: 35%; */
	 height: 275px;
}

</style>