<template>
  <div class="movie-detail">
    <a @click="$router.back()" class="back-button">Back</a>
    <h2>{{movie.Title}}</h2>
    <p>{{ movie.Year }}</p>
    <img :src="movie.Poster" alt="Movie Poster" class="featured-img" />
    <p>{{ movie.Plot }}</p>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'MovieDetail',

    data(){
        return{
            movie: {}
        }
    },

    created(){
            axios.get(`http://www.omdbapi.com/?apikey=8c5f44a4&i=${this.$route.params.id}&plot=full`).then(response => {
                console.log(response);
                this.movie = response.data 
            })
        
    }
}
</script>

<style scoped>
.movie-detail {
	 padding: 16px;
}
 .movie-detail h2 {
	 color: #fff;
	 font-size: 28px;
	 font-weight: 600;
	 margin-bottom: 16px;
}
 .movie-detail .featured-img {
	 display: block;
	 margin: auto;
}
 .movie-detail p {
	 color: #fff;
	 font-size: 18px;
	 line-height: 1.4;
}
.back-button{
 background-color: #42b883; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: left;
  margin: 4px 2px;
  cursor: pointer;
}
 
 
</style>