<template>
  <div id="app">
    <header>
    <router-link to="/">
      <h1><span>Movie</span>Finder</h1>
    </router-link>
  </header>
  <main>
    <router-view />
  </main>
  </div>
</template>

<script>
import MovieList from '@/components/MovieList'
import MovieDetail from '@/components/MovieDetail'
export default {
  name: 'App',
  components:{
    MovieList,
  },
  data(){
    return{

    }
  },

}
</script>

<style>
#app {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}
*{
  font-family: 'ubuntu';

}
body {
  background-color: #35495E;
}

header {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 10px 10px 0px;
	 background-color: #2c3d4e;
	 box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
 header h1 {
	 color: #fff;
	 font-size: 28px;
}
 header h1 span {
	 color: #42b883;

}
 
</style>
